# Mein tolles Notebook
## Einführung

Hier möchte ich programmieren lernen.

In [1]:
age = 120

In [2]:
first_name = "Peter"

In [4]:
print(age, first_name)

120 Peter

In [5]:
age

120

In [6]:
print(first_name, "is ", age, "years old")

Peter is  120 years old

In [8]:
%who

age	 first_name

In [9]:
age + 10

130

In [10]:
first_name

'Peter'

In [12]:
first_name[0]

'P'

In [13]:
first_name[0:3]

'Pet'

In [15]:
len(first_name)

5

In [16]:
X = 120
y = "Peter"

In [17]:
first_name
age

120

In [18]:
print(first_name)
print(age)

Peter
120

In [19]:
print(Age)

NameError: name 'Age' is not defined

In [20]:
type(first_name)

str

In [21]:
type(age)

int

In [22]:
height = 190.686

In [23]:
type(height)

float

In [24]:
93 + 345

438

In [26]:
"Hi " + "there"

'Hi there'

In [27]:
45 * 5

225

In [28]:
"la" * 10

'lalalalalalalalalala'

In [29]:
"la" / 10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [30]:
days_as_string = "141"

In [31]:
type(days_as_string)

str

In [32]:
days_as_string + 10

TypeError: can only concatenate str (not "int") to str

In [33]:
days = int(days_as_string)

In [34]:
days + 10

151

In [36]:
print()

In [37]:
print(1323)

1323

In [38]:
print(1234, 234, 23, "sdfsdf")

1234 234 23 sdfsdf

In [41]:
len(days_as_string)

3

In [42]:
len("days")

4

In [44]:
? round

In [45]:
round(345.765)

346

In [46]:
round(345.23456, 3)

345.235

In [50]:
print("Hi there")

Hi there

In [51]:
min((12, 10, 3, 8))

3

In [52]:
min([12, 10, 3, 8])

3

In [53]:
max([37, 23, 1, 201])

201

In [54]:
first_name.upper()

'PETER'

In [62]:
first_name.count("e")

2

In [61]:
first_name.count("r")

1

In [63]:
first_name.istitle()

True

In [64]:
8 < 7

False

In [65]:
8 > 7

True

In [66]:
import string

In [67]:
sentence = "this does not make much sense."

In [68]:
sentence.upper()

'THIS DOES NOT MAKE MUCH SENSE.'

In [69]:
sentence.capitalize()

'This does not make much sense.'

In [70]:
sentence.title()

'This Does Not Make Much Sense.'

In [71]:
string.capwords(sentence)

'This Does Not Make Much Sense.'

In [72]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [73]:
? string

In [74]:
first_name = "Peter"
first_name = "John"

In [75]:
print(first_name)

John

In [82]:
first_names = ["Peter" , "John" , "Marianna" , "Lise"]

In [85]:
print(first_names)

['Peter', 'John', 'Marianna', 'Lise']

In [86]:
first_names[0]

'Peter'

In [87]:
first_names[-1]

'Lise'

In [88]:
first_names[1-4]

'John'

In [91]:
first_names.append("Otto")

In [92]:
first_names

['Peter', 'John', 'Marianna', 'Lise', 'Otto']

In [93]:
first_names.append([])

In [94]:
first_names

['Peter', 'John', 'Marianna', 'Lise', 'Otto', []]

In [98]:
names_and_ages = {"Peter" : 42, "Lise" : 60, "John" : 130}

In [99]:
names_and_ages["Peter"]

42

In [100]:
names_and_ages["John"]

130

In [102]:
names_and_ages["John"] = 82

In [103]:
first_names

['Peter', 'John', 'Marianna', 'Lise', 'Otto', []]

In [110]:
for name in first_names:
    print(name, "is a nice name.")
    print("--------")
print(name)

Peter is a nice name.
--------
John is a nice name.
--------
Marianna is a nice name.
--------
Lise is a nice name.
--------
Otto is a nice name.
--------
[] is a nice name.
--------
[]

In [111]:
temp = 18
if temp > 15:
    print("Es ist warm")

Es ist warm

In [121]:
temp = 6
if temp >= 15:
    print("Es ist warm")
elif temp > 10:
    print("Geht so")
elif temp > 5:
    print("Ein weinig kalt")
else:
    print("Kalt!")

Ein weinig kalt

In [125]:
def clean_isbn():
    print("324-3434-3423")
    
clean_isbn()
clean_isbn()
clean_isbn()

324-3434-3423
324-3434-3423
324-3434-3423

In [123]:
clean_isbn

In [130]:
def clean_isbn(isbn):
    print(isbn)
    
clean_isbn("1-34284-234-3")
clean_isbn("1-34284-235-9")

1-34284-234-3
1-34284-235-9

In [134]:
def clean_isbn(isbn):
    isbn = isbn.strip()
    isbn = "ISBN: " + isbn
    print(isbn, "is a clean isbn")
    
clean_isbn("  234-4545-3434      ")

ISBN: 234-4545-3434 is a clean isbn

In [136]:
def clean_isbn(isbn):
    isbn = isbn.strip()
    isbn = "ISBN: " + isbn
    return isbn
    
cleaned_isbn = clean_isbn("  234-4545-3434      ")

In [138]:
# Hier soll etwas ausgegeben werden
print(cleaned_isbn)

ISBN: 234-4545-3434