# Python Einführung
## Unterüberschrift

*kursiv* **fett** ***Fettkursiv***
- Punkt 1
- Punkt 2
- Punkt 3

In [1]:
print("Hello World!")

Hello World!

1.2 Kommentare

In [2]:
# Das ist ein Kommentar
print("something")

something

1.3 Einfache Datentypen

In [5]:
# Variable und Wertezuweisung
# immer klein beginnen und mit _ schreiben! PEP 8 = Styleguide
name = "Lovelace" 
print(name)

Lovelace

In [6]:
# String - Zeichenkette
first_name ="Ada"
first_name

'Ada'

In [16]:
# Integer - Ganzzahl
age = 73
print(age)

73

In [8]:
# Float - Gleitkommazahl
size = 1.7123

In [9]:
# Boelan 
knows_math = True
print(knows_math)

True

In [10]:
likes_slacking = False
print(likes_slacking)

False

In [11]:
#Dateityp abfragen
type(name)

str

In [12]:
type(age)

int

In [13]:
type(size)

float

In [14]:
age_string = str(age)

In [15]:
type(age_string)

str

1.4 Operatoren

In [17]:
#Addition von Integers
5 + 5

10

In [18]:
# Mulitplikation
age * 100

7300

In [19]:
age_string * 10

'73737373737373737373'

In [20]:
# bei String wird durch + Plus verketten "concatenate".
name + name

'LovelaceLovelace'

In [21]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [22]:
# Durch "" wird ein string definiert
name + "10"

'Lovelace10'

In [23]:
# Division
size / age

0.023456164383561642

1.5 Funktionen und Methoden

In [26]:
#Länge von Objekten
print(name)
len(name)

Lovelace

8

In [27]:
#Methode: Schreibweise ist: Objekt.Funktion (Argument)  Argument nicht immer nötig
# Built in Functions = print, name, len  brauchen keine näheren Argumente
name.upper()

'LOVELACE'

In [28]:
print(name)

Lovelace

In [29]:
name_upper_case = name.upper()

In [30]:
name.count("e")

2

In [31]:
name.replace("lace", " is everywhere")

'Love is everywhere'

In [32]:
another_name = "peter"

In [33]:
another_name = another_name.upper ()

In [34]:
print(another_name)

PETER

1.6 Listen und Dictionaries

In [35]:
# Liste
names = ["Lovelace" , "Darwin" , "Curie" , "Hawking"]

In [36]:
# Null zählt als erstes Element
names[2]

'Curie'

In [37]:
names[-1]

'Hawking'

In [40]:
#Abschnitt (1. Inklusive, hinteres exklusives)
print(names)
names[0:3]

['Lovelace', 'Darwin', 'Curie', 'Hawking']

['Lovelace', 'Darwin', 'Curie']

In [42]:
# slicing : 2 = ersten beiden  2: alles ab 2 bis zum Ende
names[:2]

['Lovelace', 'Darwin']

In [43]:
names[2:]

['Curie', 'Hawking']

In [44]:
# Dictionaries  - Element besteht aus Schlüssel und Wert
# Schreibweise : Variable {Schlüssel : WERT}
authors_and_birth_years = {"Lovelace" : 1882,
                           "Darwin" : 1809,
                           "Noether" : 1882,
                          "Hawking" : 1942}

In [45]:
authors_and_birth_years["Darwin"]

1809

In [49]:
name.upper()

'LOVELACE'

In [50]:
#for-Schleifen gleiche aktion für jedes Listenelement durchführen
# Einrückung ist wie "do" in Shell
for last_name in names: 
    print(last_name + " did awesome stuff.")

Lovelace did awesome stuff.
Darwin did awesome stuff.
Curie did awesome stuff.
Hawking did awesome stuff.

In [53]:
# last_name wird nur temporär erstellt. Nur das letzte Element bleibt gespeichert
print(last_name)

Hawking

In [55]:
for last_name in names: 
    print(last_name + " did awesome stuff.")
    print("-----------")

Lovelace did awesome stuff.
-----------
Darwin did awesome stuff.
-----------
Curie did awesome stuff.
-----------
Hawking did awesome stuff.
-----------

In [56]:
for last_name in names: 
    print(last_name + " did awesome stuff.")
print("-----------")

Lovelace did awesome stuff.
Darwin did awesome stuff.
Curie did awesome stuff.
Hawking did awesome stuff.
-----------

In [58]:
for dict_names in authors_and_birth_years.keys():
    print(dict_names)

Lovelace
Darwin
Noether
Hawking

In [60]:
for dict_year in authors_and_birth_years.values():
    print(dict_year)

1882
2000
1882
1942

In [62]:
for key, value in authors_and_birth_years.items():
    print(key, value)

Lovelace 1882
Darwin 2000
Noether 1882
Hawking 1942

2.1 Bedingte Anweisungen (Conditionals)

In [63]:
# Variablen wir Wert zugewiesen und dann weiterbearbeitet
temp = 20
if temp > 15:
    print("It's warm")

It's warm

In [64]:
temp = 10
if temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's cold

In [72]:
temp = 32
if temp > 25 :
    print("It's hot")
elif temp > 15:
        print("It's warm")
else:
    print("It's cold")

It's hot

In [79]:
# 2 Schreibweisen für Bereiche: 
temp = 32
if 25 > temp < 35 :
    print("It's hot")
elif temp > 15 and temp < 25:
        print("It's warm")